allure-pytest==2.13.2
allure-python-commons==2.13.2
asgiref==3.11.1
attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.4
colorama==0.4.6
coverage==7.13.4
execnet==2.1.2
factory-boy==3.3.0
Faker==20.1.0
greenlet==3.0.1
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
playwright==1.40.0
pluggy==1.6.0
pyee==11.0.1
pytest==7.4.4
pytest-base-url==2.1.0
pytest-cov==5.0.0
pytest-django==4.8.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-playwright==0.4.3
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
requests==2.31.0
six==1.17.0
sqlparse==0.5.5
text-unidecode==1.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3